<%= form_with model: @user, method: :patch do |form| %>
  <% if @user.errors[:username].any? %>
    <ul>
      <% @user.errors[:username].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @user.errors[:email].any? %>
    <ul>
      <% @user.errors[:email].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @user.errors[:password].any? %>
    <ul>
      <% @user.errors[:password].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <br>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.submit "Submit data" %>
<% end %>