<%# BASIC HTML %>
<%#
<form accept-charset="UTF-8" action="/users" method="POST">
  <label for="username">Username: </label>
  <input type="text" name="user[username]" id="username">

  <label for="password">Password: </label>
  <input type="password" name="user[password]" id="password">
  <label for="password_confirmation">Confirm your password: </label>
  <input type="password" name="password_confirmation" id="password_confirmation">

  <label for="email">Email: </label>
  <input type="email" name="user[email]" id="email">
  <label for="email_confirmation">Confirm your email: </label>
  <input type="email" name="email_confirmation" id="email_confirmation">

  <input type="submit" value="Submit">
</form>
%>

<%# FORM_WITH %>
<%#= form_tag("/users", method: "post") do %>
  <%#= label_tag(:username, "Username:") %>
  <%#= text_field_tag(:username) %>
  <%# <br> %>
  <%#= label_tag(:password, "Password:") %>
  <%#= password_field_tag(:password) %>
  <%# <br> %>
  <%#= label_tag(:email, "Email:") %>
  <%#= email_field_tag(:email) %>
  <%# <br> %>
  <%#= submit_tag("Submit") %>
<%# end %>

<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <br>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.submit "Submit data" %>
<% end %>